PORT = {port number}
Mongo_URI= {your mongo uri}
JWT_Secret= {jwt secret}
JWT_Refresh_Secret= {jwt refresh secret}
CLIENT_URL=http://localhost:3000
email=userzyx01@xyz.com
password=1skjsnksdsd
clientid={google auth cclientid}
clientsecret={google auth client secret}
redirect_url=http://localhost:8000/auth/google/oauth