.navbar {
    width: 100%;
    height: 60px;
    border-bottom: 1.75px solid var(--border);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;;
}

.icons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 28%;
}

.search {
    height: 30px;
    width: 259px;
    border-radius: 7px;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

input {
    background-color: transparent;
}

.no-style {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}