@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: #dbdbdb;
}


.width60 {
  width: 52%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.border {
  border: 1.75px solid var(--border);
}

.noborder {
  outline: none;
  border: none;
}

img {
  max-width: fit-content;
}

.flex-col {
  flex-direction: column;
}


.align {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-btwn {
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

body {
  background-color: #FAFAFA;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}